:root {
    --primary-color: #0056b3;
    --secondary-color: #333;
    --light-bg-color: #f4f4f4;
    --text-color: #444;
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
    --navbar-footer-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --text-shadow-dark: 1px 1px 1px rgba(0, 0, 0, 0.2);
    --text-shadow-light: 1px 1px 1px rgba(0, 0, 0, 0.1);
    --gradient-background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    padding-top: 100px;
}

h1,
h2,
h3 {
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-shadow: var(--text-shadow-dark);
}

p {
    line-height: 1.8;
    color: var(--text-color);
    text-shadow: var(--text-shadow-light);
}

table a {
    color: var(--secondary-color);
    text-decoration: none;
    text-shadow: var(--text-shadow-light);
    display: inline-block;
}

.padded-navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand,
.nav-link,
.card,
table a {
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link,
.footer-nav .nav-link,
.navbar .navbar-brand {
    color: white;
    text-shadow: var(--text-shadow-dark);
}

.navbar-nav .nav-link:hover,
.footer-nav .nav-link:hover,
.navbar-brand:hover,
table a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}

.navbar,
footer {
    background-color: var(--secondary-color);
    box-shadow: var(--navbar-footer-shadow);
    background-image: var(--gradient-background);
}

section {
    margin: 2rem 0;
    padding: 2rem 0;
}

.table th {
    background-color: var(--secondary-color);
    color: white;
    text-shadow: var(--text-shadow-dark);
    padding: 10px;
    border-bottom: 1px solid var(--light-bg-color);
}

.table td {
    padding: 10px;
}

.img {
    height: auto;
}

.about-me-img {
    max-width: 256px;
}

.card-body,
.about-me-img,
.table {
    background-color: var(--light-bg-color);
    box-shadow: var(--box-shadow-light);
}

.card-img-top {
    max-width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-dark);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.favicon {
    margin-right: 10px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

i {
    margin-right: 10px;
}